## Pynative Lopp Exercise

https://pynative.com/python-if-else-and-for-loop-exercise-with-solutions/

#### Question 1: Print First 10 natural numbers using while loop

In [1]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

#### Question 2: Print the following pattern

1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5

In [2]:
for i in range(1,6):
    for col in range(1,i+1):
        print(col, end=" ")
    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

#### Question 3: Accept number from user and calculate the sum of all number between 1 and given number

In [3]:
sum = 0
for i in range(11):
    sum = sum+i
print(sum)

55

#### Question 4: Print multiplication table of given number

In [4]:
# Given number is 5
# Multiplication table of 5 x 10

In [5]:
for i in range(1,11):
    print(5*i)

5
10
15
20
25
30
35
40
45
50

#### Question 5: Given a list iterate it and display numbers which are divisible by 5 and if you find number greater than 150 stop the loop iteration

In [6]:
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

In [7]:
for i in list1:
    if i%5==0 & i<=150:
        print(i)

15
55
75
150
180
200

In [8]:
for i in list1:
    if i<150:
        if i%5==0:
            print(i)

15
55
75

#### Question 6: Given a number count the total number of digits in a number

In [22]:
num = 75869

In [10]:
print(len(list(str(num))))

5

In [11]:
print(len(str(num)))

5

In [21]:
num = 75869
count = 0
while num>0:
    num=num//10
    count= count+1
print(count)

5

#### Question 7: Print the following pattern using for loop

5 4 3 2 1 
4 3 2 1 
3 2 1 
2 1 
1

In [33]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [32]:
for i in range(5,0,-1):
    for col in range(i,0,-1):
        print(col , end=" ")
    print(" ")

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

#### Question 8: Reverse the following list using for loop

In [34]:
list2 = [10, 20, 30, 40, 50]

In [35]:
len(list2)

5

In [38]:
for i in range(len(list2),0,-1):
    print(list2[i-1])

50
40
30
20
10

In [41]:
for i in list2:
    print(i)

10
20
30
40
50

In [56]:
list3= list2[::-1]
print(list3)

[50, 40, 30, 20, 10]

In [59]:
for i in list2[::-1]:
    print(i)

50
40
30
20
10

#### Question 9: Display -10 to -1 using for loop

In [43]:
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

#### Question 10: Display a message “Done” after successful execution of for loop

In [45]:
for i in range(5):
    print(i)
print("Done!")

0
1
2
3
4
Done!

In [48]:
for i in range(5):
    print(i)
else:
    print("Done!")

0
1
2
3
4
Done!

#### Question 11: Python program to display all the prime numbers within a range

In [61]:
for i in range(25,50):
    for col in range(2,i):
        if i%col==0:
            break
    else:
        print(i)

29
31
37
41
43
47

#### Question 12: Display Fibonacci series up to 10 terms

In [68]:
a = 0
b = 1
print(a)
print(b)
for i in range(10):
    c=a+b
    print(c)
    a=b
    b=c

0
1
1
2
3
5
8
13
21
34
55
89

#### Question 13: Write a loop to find the factorial of any number

In [66]:
# Factorial of 5
fact=1
for i in range(1,5+1):
    fact = fact*i
    # fact = 1 x 1
    # fact = 1 x 2
    # fact = 2 x 3
    # fact = 6 x 4
    # fact = 24 x 5
print(fact)

120

#### Question 14: Reverse a given integer number

In [67]:
num = 76542

In [87]:
rn = 0
while num>0:
    remainder = num%10        #2     #4
    rn = (rn*10) + remainder  #2     #
    num=num//10               #7654

print(rn)

6

#### Question 15: Use a loop to display elements from a given list which are present at even positions

In [70]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [72]:
for i in range(1,len(my_list),2):
    print(my_list[i])

20
40
60
80
100

In [90]:
for i in my_list[1::2]:
    print(i, end=" ")

20 40 60 80 100

#### Question 16: Display the cube of the number up to a given integer

In [75]:
num = 6
for i in range(num+1):
    print(i, i*i*i)

0 0
1 1
2 8
3 27
4 64
5 125
6 216

#### Question 17: Find the sum of the series 2 +22 + 222 + 2222 + .. n terms

In [80]:
terms = 5

In [85]:
sum=0
final=0
for i in range(5):
    sum = sum + 2*(10**i)
    print(sum)
    final =sum+final
    print(final)

2
2
22
24
222
246
2222
2468
22222
24690

In [86]:
sum=0
final=0
for i in range(5):
    sum = sum + 2*(10**i)
    final =sum+final
print(final)

24690

#### Question 18: Print the following pattern

In [92]:
for i in range(5):
    for j in range(0,i+1):
        print("*", end=" ")
    print(" ")
for i in range(5,0,-1):
    for j in range(0,i-1):
        print("*", end=" ")
    print(" ")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*